*, html {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    direction: rtl;
    font-family: 'Tajawal' , serif !important; 
   /* font-family: 'Cairo', sans-serif !important; */
}

:root{

  --primary   : #262322;
  --secondary : #C97D60;
  --light     : #F2E5D7;
  --muted     : #FFBCB5;
  --blue      : #8A84E2;
}

a {
    text-decoration: none !important;
    color: var(--blue) !important;
}

.heading {
  font-weight: bold;
  border-right : 5px solid #4a4a4a;
  border-radius : 5px;
  padding-right : 5px;
}

/* color scema */
.bg-gray{
  background : #F8F9FA;
}

.bg-muted{
  background : var(--muted);
}

.text-primary{
  
}

.text-secondary{
  color : var(--secondary) !important;
}
/* /color scema */

.form {
    padding: 15px;
    background: #f8f9fa;
    max-width: 500px;
    border-radius: 7px;
    box-shadow: 0px -1px 13px 3px #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
}
.form label {
    display: block;
    margin-bottom: 2%;
}
.form form {
    width: 100%;
}
.form form input[type="number"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
    outline: none;
}
.suggestions {
    padding: 15px;
    width: 95%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    /* box-shadow: 0px 5px 13px 3px #f1f1f1; */
}
.suggestions .card {
    background: transparent;
}
.list-group .list-group-item {
    width: 13.75rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
main {
    min-height: 100vh;
}
@media only screen and (max-width: 768px) {
    .suggestions .col-lg-2 {
        display: flex;
        justify-content: center;
    }
    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .container-fluid {
        flex-direction: row !important;
    }
}